.twitter{
	border:1px solid #3B5998;
	border-radius:7px;
	-ms-border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	background:#3B5998;
	color:#aaa;
	min-width:220px;
}
.twitter a{
	color: #3B5998;
}
.twitter .twitter_header{
	padding:10px;
}
.twitter .twitter_header img{
	width:30px;
	height:auto;
	margin-right:10px;
}
.twitter .twitter_header a{
	font-weight:bold;
	color:#fff;
	font-size:16px;
	vertical-align:top;
}
.twitter .twitter_content{
	background:#fff;
	border-radius:7px;
	-ms-border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	margin-bottom:25px;
}
.twitter .twitter_content .twitter_post{
	padding:7px;
	border-top:1px dotted #ccc;
}
.twitter .twitter_content .twitter_post:first-child{
	border-top:none;
}
.twitter .twitter_content .twitter_post .twitter_date {
	float: right;
	font-size: 10px;
	margin-top: 2px;
}
.twitter .twitter_content .twitter_body{
	color:#222;
	margin:3px 0;
}
.twitter .twitter_content .twitter_links{
	text-align:right;
	font-size:11px;
}