<?php  
$this->headLink()->appendStylesheet($this->websiteUrl . 'system/css/reset.css');
$this->headLink()->appendStylesheet($this->websiteUrl . 'system/css/grid.css');
$this->headLink()->appendStylesheet($this->websiteUrl . 'system/css/seotoaster.css');
echo $this->headLink();
    ?>
<style>
	.labelPadding {
		margin-top: 5px;
	}
</style>
<div class="container_12 seotoaster">
	<div class="header" style="overflow:hidden; ">
		<div class="closebutton">
			<span class="help">Help</span>
			<span class="close" onclick="window.parent.jQuery('.__tpopup').dialog('close');"></span>
		</div>
		Twitter config
	</div>
        <form  action="<?php echo $this->websiteUrl;?>plugin/twitter/run/saveConfig/" method="post" >
			<label class="grid_4 labelPadding">User name</label><input class="grid_8 alpha" type="text" name="user_name" value="<?php echo $this->userName;?>">
			<input type="submit" value="<?php echo 'done';?>" style="margin: 10px;"/>
        </form>
</div>