<?php
    $this->headLink()->appendStylesheet($this->websiteUrl . 'plugins/twitter/system/layout/css/twitter.css');
    echo $this->headLink();
?>
<div class="twitter">
    <div class="twitter_header">
        <img src="<?php echo $this->stats['profile_image_url'];?>">
        <?php echo $this->stats['name'];?>
        <a target="_blank" href="http://twitter.com/<?php echo $this->stats['screen_name'];?>"><span>@<?php echo $this->stats['screen_name'];?></span></a>
    </div>
    <div class="twitter_content">
        <a href="https://twitter.com/<?php echo $this->stats['screen_name'];?>" class="twitter-follow-button">Follow @<?php echo $this->stats['screen_name'];?></a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){
            js=d.createElement(s);js.id=id;js.src="http://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}
                (document,"script","twitter-wjs");
        </script>
        <p><a target="_blank" href="http://twitter.com/<?php echo $this->stats['screen_name'];?>/followers"><span>Followers: <?php echo $this->stats['followers_count'];?></span></a></p>
        <p><a target="_blank" href="http://twitter.com/<?php echo $this->stats['screen_name'];?>/following"><span>Friends: <?php echo $this->stats['friends_count'];?></span></a></p>
        <p><a target="_blank" href="http://twitter.com/<?php echo $this->stats['screen_name'];?>/lists"><span>Lists: <?php echo $this->stats['listed_count'];?></span></a></p>
        <p><a target="_blank" href="http://twitter.com/<?php echo $this->stats['screen_name'];?>/favorites"><span>Favorites: <?php echo $this->stats['favourites_count'];?></span></a></p>
        <p><a target="_blank" href="http://twitter.com/<?php echo $this->stats['screen_name'];?>"><span>Tweets: <?php echo $this->stats['statuses_count'];?></span></a></p>

    </div>
</div>