<?php
    $this->headScript()->appendFile($this->websiteUrl . 'plugins/twitter/system/layout/js/twitter.js');
    $this->headLink()->appendStylesheet($this->websiteUrl . 'plugins/twitter/system/layout/css/twitter.css');
    echo $this->headScript();
    echo $this->headLink();
?>
    <div class="twitter">
        <div class="twitter_header">
            <img src="<?php echo $this->stats['profile_image_url'];?>" alt="Twitter logo">
            <a target="_blank" href="http://twitter.com/<?php echo $this->stats['screen_name'];?>"><?php echo $this->stats['name'];?></a>
        </div>
        <div class="twitter_content">
            <?php foreach($this->tweets as $key => $tweet):?>
                <div class="twitter_post">
                    <div class="twitter_post_data">
                         <a target="_blank" href="http://twitter.com/<?php echo $tweet['user']['screen_name'];?>"><?php echo $tweet['user']['name'];?></a>  @<?php echo $tweet['user']['screen_name'];?>
                            <span class="twitter_date"><?php echo date('j M',strtotime($tweet['created_at']));?></span>
                         <div class="twitter_body"><?php echo $tweet['text'];?></div>
                    </div>
                    <div class="twitter_links">
                        <a target="_blank" href="https://twitter.com/intent/tweet?in_reply_to=<?php echo $tweet['id_str'];?>">Reply</a> :
                        <a target="_blank" href="https://twitter.com/intent/retweet?tweet_id==<?php echo $tweet['id_str'];?>">Retweet</a> :
                        <a target="_blank" href="https://twitter.com/intent/favorite?tweet_id=<?php echo $tweet['id_str'];?>">Favorite</a>
                    </div>
                </div>
            <?php endforeach;?>
        </div>
    </div>
