<div class="twitter_followers">
    <?php foreach($this->response as $key => $value):?>
        <a title="<?php echo $value['name'];?>" href="http://www.twitter.com/<?php echo $value['screen_name'];?>"><img class="photo-img" src="<?php echo $value['profile_image_url']?>" border="0" alt="<?php echo $value['screen_name'];?>" width="<?php echo $this->imageSize;?>" /></a>
    <?php endforeach;?>
</div>
